Source: python3-gitbro
Maintainer: Rafael Boszko <rafael.boszko@gmail.com>
Build-Depends: debhelper,dh-python,python3-all,python3-setuptools
Section: devel
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6

Package: python3-gitbro
Architecture: any
Description: A bunch of handy commands to do things a bit faster using git command line (imho).
